# ================= ADMIN =================
ADMIN_PASSWORD=SurVivalZLDX2026
SESSION_SECRET=bora_pra_cima_survivalz

# ================= PIX =================
PIX_KEY=+5531984616513
PIX_MERCHANT_NAME=SURVIVALZPIX
PIX_MERCHANT_CITY=ABRE CAMPO

# ================= DISCORD =================
DISCORD_INVITE=https://discord.gg/QQCRTEMhQ

# ================= PRODUÇÃO / RAILWAY =================
# Use apenas em produção
# NODE_ENV=production

# Use apenas quando configurar volume no Railway
# ORDERS_DATA_DIR=/data
